<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="utf-8")
    - if @description
      %meta(name="description" content=@description)
    - if @keywords
      %meta(name="keywords" content=@keywords)
    %title= @title
    <!--[if ! lte IE 6]><!-->
    %link(href="http://fonts.googleapis.com/css?family=PT+Sans" media="screen" rel="stylesheet")
    %link(href="http://fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic&subset=latin" media="screen" rel="stylesheet")
    %link(href="/css/layout.css" media="screen" rel="stylesheet")
    <!--<![endif]-->
    /[if lte IE 6]
      %link(rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection")
    /[if lt IE 9]
      %script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    = local_stylesheet_link_tag('local')
    %link(href="/articles.xml" rel="alternate" type="application/atom+xml")
    = haml :analytics, :layout => false
    %script(src="http://code.jquery.com/jquery-latest.js")
    - if @search_api_key
      %script(src="http://www.google.com/jsapi?key=#{@search_api_key}")
    = haml :search_init, :layout => false
    
  %body
    #container
      #header
        = haml :header, :layout => false
      #content
        #left
          = yield
        #right
          = haml :sidebar, :layout => false
    #footer
      #footer-content
        = haml :footer, :layout => false

  = haml :js_raw, :layout => false